p {
    margin-left: 2px;
}

@keyframes show-from-bottom-kf {
    0%  {right:0px; bottom:-2000px;}
    20% {right:0px; bottom:0px;}
    80%  {right:0px; bottom:0px;}
    100% {right:0px; bottom:-2000px;}
}

.expand-container {
    overflow: hidden;
  }
  
.expand-contract {
    border-bottom: 1px solid red;
    margin-top: -100%;
    transition: all 1s;
  }
  
.expand-contract.expanded {
     background-color: green;
     margin-top: 0;
  }

.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#bebebe 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
}

@keyframes tilt-shaking {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.strong-shake {
    animation: tilt-shaking 0.15s;
  }

.strong-shake-mid {
    animation: tilt-shaking 0.15s;
    animation-iteration-count: 6;
  }

.strong-shake-long {
    animation: tilt-shaking 0.15s;
    animation-iteration-count: 86;
  }

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    height:0px;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}
.hidden.open {
    height:200px;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}

.box {
    display: flex;
    flex-wrap: wrap;
}
.box>* {
    flex: 1 1 160px;
}

.cheat-detector {
    background: rgb(23, 29, 37, 0.3);
    border-radius: 5px;
    padding: 1px 5px;
    margin-bottom: 1em;
}

.cheat-percentage-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 5px;
}

.cheat-percentage-low {
    color: #3a9700;
}
.cheat-percentage-mid {
    color: #c0b34a;
}
.cheat-percentage-high {
    color: #a94847;
}
.cheat-percentage-critical {
    color: #a96e47;
}

.show-hide-img-button {
    max-width: 10%;
    height: auto;
}

.cheat-detector-buttons {
    display: flex;
    gap: 1px;
}

.superfluousButton {
    color: #8c9b57 !important;
    background: linear-gradient(to bottom, #657d11 5%, #536904 95%) !important;
}

.happy-gaben {
    z-index: 20;
    position: fixed;
    height: 50%;
    bottom: 0px;
    right: 0px;
}
